name: .NET Desktop Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration: [ Debug, Release ]

    env:
      Solution_Name: ownedbyjuzuk1q.sln

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore packages
      run: msbuild "$env:Solution_Name" -t:Restore -p:Configuration=${{ matrix.configuration }}

    - name: Build solution
      run: msbuild "$env:Solution_Name" -p:Configuration=${{ matrix.configuration }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build-${{ matrix.configuration }}
        path: |
          **/bin/${{ matrix.configuration }}/
