name: .NET Desktop Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration: [ Debug, Release ]

    env:
      Project_Path: "ownedByJuzuk1q.csproj"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore packages
      run: msbuild "$env:Project_Path" -t:Restore -p:Configuration=${{ matrix.configuration }}

    - name: Build project
      run: msbuild "$env:Project_Path" -p:Configuration=${{ matrix.configuration }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build-${{ matrix.configuration }}
        path: |
          **/bin/${{ matrix.configuration }}/
